<div class="control-group">
  <label class="control-label">{{ repo }}</label>
  <div class="controls">
    <select>
      {{#each branches}}
        <option data-sha="{{sha}}">{{branch_name}} - {{commit_title}}</option>
      {{/each}}
    </select>
  </div>
</div>
