<ul class="data-source">
<%= for data_source <- @data_sources do %>
  <li>
    <a class="main-link" href="/data_sources/<%= data_source.id %>">
      <h3>
        <%= data_source.name %>
      </h3>
    </a>
    <p>
      Has
      <strong><%= number_of_tables(data_source) %></strong>
      tables available for querying.
      These include:
      <strong><%= sample_of_tables(data_source) %></strong>
    </p>
  </li>
<% end %>
</ul>
