{sub_dirs, ["rel"]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [
  no_tty,  %% This turns off the default output, MUST HAVE
  {report, {eunit_progress, [colored]}},
  {report, {eunit_surefire, [{dir, "."}]}}
]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "doc"}, {preprocess, true}]}.

{deps, [
  {erlang_common, ".*", {git, "git@github.com:Aircloak/erlang_common.git", {branch, "develop"}}},
  {cowboy, ".*", {git, "git@github.com:ninenines/cowboy.git", {branch, master}}}
]}.

{plugins, []}.
