<div style="float: none;">
  <div style="float: left; width: 13em;">{{ label }}</div>
  <div class="progress" style="margin-right: 1em; width: 200px; float: none;">
    <div class="bar" style="width: {{ progress }}%;">
    </div>
  </div>
</div>
