{sub_dirs, [
  "apps/air",
  "apps/air_common",
  "apps/airpub",
  "rel"
]}.
{cover_enabled, true}.
{clean_files, ["apps/*/.eunit", "apps/*/ebin/*"]}.
{eunit_opts, [
  no_tty,  %% This turns off the default output, MUST HAVE
  {report, {eunit_progress, [colored]}},
  {report, {eunit_surefire, [{dir, "."}]}}
]}.
{erl_opts, [
  {i, "../../include"},
  {i, "../../deps/cloak/include"},
  debug_info,
  {parse_transform, lager_transform}
]}.
%% edoc preprosessing, while making things slow, is needed in order
%% to allow edoc to process function definitions that use macros.
%% An example is `handle_handoff_command(?FOLD_REQ{...}, _, _)`
%% in query_vnode.erl
{edoc_opts, [{dir, "doc"}, {preprocess, true}]}.
{deps, [
  {cloak, ".*", {git, "git@github.com:Aircloak/cloak-core.git", {branch, "develop"}}},
  {erlang_js, ".*", {git, "git@github.com:systra/erlang_js.git", {branch, "master"}}},
  {poolboy,".*", {git,"git@github.com:devinus/poolboy.git", {branch, "master"}}},
  {etcd, ".*", {git, "git@github.com:spilgames/etcd.erl.git", {branch, "v2-protocol"}}},
  {cowboy, ".*", {git, "git@github.com:ninenines/cowboy.git", {branch, "master"}}},
  {hackney, ".*", {git, "git@github.com:benoitc/hackney.git", {tag, "1.3.2"}}}
]}.
