<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if @conn.assigns[:refresh] do %>
      <meta http-equiv="refresh" content="1;url=<%= @conn.assigns[:refresh] %>">
    <% end %>

    <title>Aircloak – Admin - Air control</title>
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.ico") %>" type="image/x-icon">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="body-wrapper">
      <div class="<%= container_class(assigns) %>">
        <%= render "_navbar.html", conn: @conn %>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
          <div class="<%= container_class(assigns) %>">

            <div class="row">
              <div class="col-lg-2 col-md-3">
                <ul class="nav nav-pills nav-stacked">
                  <%= warning_navbar_link(@conn) %>

                  <%= navbar_link(@conn, "Activity monitor", admin_activity_monitor_path(@conn, :index)) %>
                  <%= if audit_log_enabled?() do %>
                    <%= navbar_link(@conn, "Audit log", admin_audit_log_path(@conn, :index)) %>
                  <% end %>
                  <%= navbar_link(@conn, "Cloaks", admin_cloaks_path(@conn, :index)) %>
                  <%= navbar_link(@conn, "Data sources", admin_data_source_path(@conn, :index)) %>
                  <%= navbar_link(@conn, "Groups", admin_group_path(@conn, :index)) %>
                  <%= navbar_link(@conn, "Users", admin_user_path(@conn, :index)) %>
                  <%= navbar_link(@conn, "LDAP", admin_ldap_path(@conn, :show)) %>
                  <%= navbar_link(@conn, "Failed queries", admin_query_path(@conn, :failed)) %>
                  <%= navbar_link(@conn, "Settings", admin_settings_path(@conn, :show)) %>
                  <%=
                    if Air.Service.Central.manual_export?(), do:
                      navbar_link(@conn, "Export for Aircloak", admin_central_path(@conn, :export))
                  %>
                  <%= navbar_link(@conn, "Privacy policy", admin_privacy_policy_path(@conn, :index)) %>
                  <%= navbar_link(@conn, "Aircloak license", admin_license_path(@conn, :edit)) %>
                </ul>
              </div>
              <div class="col-lg-10 col-md-9">
                <%= render @view_module, @view_template, assigns %>
              </div>
            </div>
          </div>
        </main>

      </div> <!-- /container -->

      <%= render AirWeb.SharedView, "full_footer.html", conn: @conn %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
