<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= if @conn.assigns[:refresh] do %>
      <meta http-equiv="refresh" content="1;url=<%= @conn.assigns[:refresh] %>">
    <% end %>

    <title>Aircloak – Admin - Air control</title>
    <link rel="shortcut icon" href="<%= static_path(@conn, "/frontend/images/favicon.ico") %>" type="image/x-icon">
    <link rel="stylesheet" href="<%= static_path(@conn, "/frontend/app.css") %>">
    <%= csrf_meta_tag() %>
  </head>

  <body>
    <%= render "_navbar.html", conn: @conn, admin: true %>
    <div class="container-fluid full-height">
      <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-light border-right collapse navbar-collapse align-items-start" id="sidebarCollapse">
        <div class="container-fluid d-block">
            <ul class="navbar-nav">
              <%= system_status_sidebar_link(@conn) %>
              <%= if audit_log_enabled?() do %>
                <%= sidebar_link(@conn, "Audit log", "stream", admin_audit_log_index_path(@conn, :index)) %>
              <% end %>
              <%= sidebar_link(@conn, "Cloaks", "user-secret", admin_cloaks_path(@conn, :index)) %>
              <%= sidebar_link(@conn, "Data sources", "database", admin_data_source_path(@conn, :index)) %>
              <%= sidebar_link(@conn, "Analysis", "signal", admin_analysis_path(@conn, :index)) %>
              <%= sidebar_link(@conn, "Queries", "terminal", admin_query_path(@conn, :active)) %>
            </ul>
            <hr class="my-3 navbar-divider w-100" />
            <ul class="navbar-nav">
              <%= sidebar_link(@conn, "Users", "user", admin_user_path(@conn, :index)) %>
              <%= sidebar_link(@conn, "Groups", "user-friends", admin_group_path(@conn, :index)) %>
              <%= sidebar_link(@conn, "Diffix Explorer", "compass", admin_explorer_path(@conn, :index)) %>
            </ul>
            <hr class="my-3 navbar-divider w-100" />
            <ul class="navbar-nav">
              <%= sidebar_link(@conn, "Settings", "cogs", admin_settings_path(@conn, :show)) %>
              <%= sidebar_link(@conn, "Privacy policy", "user-shield", admin_privacy_policy_path(@conn, :index)) %>
            </ul>

        </div>
      </nav>

      <main>
        <div class="container-fluid">
          <%= unless @conn.assigns[:hide_flash_messages] do %>
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
          <%= @inner_content %>
        </div>
      </main>
    </div> <!-- /container-fluid -->
    <div class="mt-auto admin-footer">
      <%= render AirWeb.SharedView, "footer.html", conn: @conn %>
    </div>
    <script src="<%= static_path(@conn, "/frontend/app.js") %>"></script>
  </body>
</html>
