<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aircloak – Web Query Interface</title>
    <link rel="shortcut icon" href="<%= static_path(@conn, "/frontend/images/favicon.ico") %>" type="image/x-icon">
    <link rel="stylesheet" href="<%= static_path(@conn, "/frontend/app.css") %>">
    <%= csrf_meta_tag() %>
  </head>

  <body>
    <%= render "_navbar.html", conn: @conn, admin: false %>
    <div class="container-lg content-wrapper">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= @inner_content %>
      </main>

    </div> <!-- /container -->

    <div class="footer mt-auto d-flex justify-content-center">
      <%= render AirWeb.SharedView, "_footer_content.html", conn: @conn %>
    </div>
    <script src="<%= static_path(@conn, "/frontend/app.js") %>"></script>
  </body>
</html>
