<p class="alert alert-info" role="alert"><%= live_flash(@flash, :info) %></p>
<p class="alert alert-danger" role="alert"><%= live_flash(@flash, :error) %></p>
<div>
  <%= @inner_content %>
</div>

<script type="application/javascript">
  window.pageConfig = {
    onLoad: function(App) {
      const transportType = "<%= Air.browser_socket_transport() %>";
      App.liveView(transportType);
    }
  };
</script>
