<html>
  <head>
    <script src="static/js/clipboard.min.js"></script>
    <script src="static/js/app.js"></script>
    <link rel="stylesheet" href="static/css/normalize.min.css">
    <link rel="stylesheet" href="static/css/app.css">
    <title>Aircloak installation instructions for version <%= version %></title>
  </head>
  <body>
    <div class="header">Aircloak installation instructions for version <%= version %>.</div>

    <div class="content">
      <%= content %>
    </div>

    <div class="footer">Aircloak installation instructions for version <%= version %>.</div>
  </body>
</html>
