<html>
  <head>
    <script src="static/js/clipboard.min.js"></script>
    <script src="static/js/app.js"></script>
    <link rel="stylesheet" href="static/css/app.css">
  </head>
  <body>
    <div class="content">
      <%= content %>
    </div>
  </body>
</html>
