body{
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

.codeBlock {
  text-align: center;
}

.codeBlock pre {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 0px 180px;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
}

header, footer {
  text-align: center;
  font-style: italic;
  padding: 20px 0px;
}

@media print {
  .copy-button {
    display: none;
  }
}
