= help_link ['introduction-queries', 'task-execution', 'understanding-the-query-model', 'lookup-tables', 'query-library']

%h3 Create a new task

= render 'form'

= link_to 'Tasks overview', tasks_path
