upstream frontend {
  server $HOST_IP:8080 weight=100;
  {{ range gets "/service_instances/frontends/*" }}
    {{ $data := json .Value }}
    server {{ $data.http_endpoint }};
  {{ end }}

  keepalive 16;
}

upstream backend {
  server $HOST_IP:11000 weight=100;
  {{ range gets "/service_instances/backends/*" }}
    {{ $data := json .Value }}
    server {{ $data.http_endpoint }};
  {{ end }}

  keepalive 16;
}

# References just the local backend. Needed for monitoring purposes.
upstream local_backend {
  server $HOST_IP:11000 weight=100;
  keepalive 16;
}

upstream aircloak {
  server $HOST_IP:10000;
  keepalive 16;
}

upstream aircloak_stage {
  server $HOST_IP:10001;
  keepalive 16;
}
