<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Aircloak" %></h2>
  <p class="lead">Your query engine for anonymous and compliant data processing – ready for your analytics needs.</p>
</div>
