<h2>Please confirm deletion</h2>

<p>
  This will permanently remove <strong>all <%= @entries_count %></strong> audit log entries.
</p>
<p>
  Are you sure?
</p>

<%= button "Permanently delete all audit log entries",
  to: admin_audit_log_path(@conn, :delete_all), class: "btn btn-danger" %>
