%h1 Verifications by file

- @files.each do |file|
  %hr
  %h2= file.name
  %table.table.table-condensed
    %thead
      %tr 
        %th Version
        %th Sha1
        %th Verified
    %tbody
      - file.client_file_versions.order(created_at: :desc).limit(5).each do |version|
        %tr
          %td= link_to version.id, verification_path(version)
          %td= link_to version.sha1, verification_path(version)
          %td= link_to version.verification_description, verification_path(version)
