-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "clusters", "data-turbolinks-track" => true}

%h3 Editing cluster

= render 'form'

= link_to 'Clusters overview', clusters_path
