# App artifacts
/_build
/deps
/*.ez

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
/assets/node_modules

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/
/priv/bom.json

/doc/
/cover/
/artifacts/
/tmp/

npm-debug.log.*

/docs/_book
/docs/node_modules
/docs/content/aircloak-docs.*
