.email-column {
  max-width: 20ch;
  word-wrap: break-word;
}

h2 small.newline {
  display: block;
  margin-top: 1em;
  font-size: 0.5em;
}

label small.newline {
  display: block;
  font-weight: normal;
  font-size: 0.8em;
}

.nav-pills .warning.active a {
  background-color: #ff0000;
  color: white;
}
.nav-pills .warning.active a:hover {
  background-color: #ff0000;
}

.nav-pills .warning a {
  background-color: #e93535;
  color: white;
}
.nav-pills .warning a:hover {
  background-color: #d00000;
}
