ul.nav.navbar-nav.navbar-right li form.link a {
  position: relative;
  top: 15px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 10px;
}

ul.nav.navbar-nav.navbar-right li form.link a:hover {
  text-decoration: none;
}

.navbar .dropdown-menu .active a {
  background-color: #f5f5f5;
  color: black;
}
