[Unit]
Description=Aircloak air_balancer for stage environment, docker driven HAProxy Container
After=docker.service
Requires=docker.service

[Service]
SyslogIdentifier=air-balancer-stage
TimeoutStartSec=0
Environment=AIR_ENV=prod
Environment=BIND_IF=139.19.208.121
Environment=ROUTERS_FILE=routers_stage
ExecStart=/aircloak/air_stage/air/balancer/container.sh foreground
ExecStop=/aircloak/air_stage/air/balancer/container.sh stop

[Install]
WantedBy=multi-user.target
