[Unit]
Description=Timer for CI permissions fixer, see fix_permissions.sh for details

[Timer]
OnUnitActiveSec=10s
OnBootSec=10s

[Install]
WantedBy=timers.target
