{lib_dirs, ["../../deps", "../../apps"]}.
{cover_enabled, true}.
{eunit_opts, [
  no_tty,  %% This turns off the default output, MUST HAVE
  {report, {eunit_progress, [colored]}},
  {report, {eunit_surefire, [{dir, "."}]}}
]}.
{erl_opts, [
  {i, "../../deps/cloak/include"},
  {i, "../../include"},
  {i, "../../apps/"},
  debug_info,
  {parse_transform, lager_transform}
]}.
%% edoc preprosessing, while making things slow, is needed in order
%% to allow edoc to process function definitions that use macros.
%% An example is `handle_handoff_command(?FOLD_REQ{...}, _, _)`
%% in query_vnode.erl
{edoc_opts, [{dir, "doc"}, {preprocess, true}]}.
