---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/aircloak/erlattest/commits?access_token=273c13ccc918a992618a503df7dadfe06f70b3f5&sha=develop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="273c13ccc918a992618a503df7dadfe06f70b3f5"
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4361'
      X-RateLimit-Reset:
      - '1384872475'
      Last-Modified:
      - Tue, 19 Nov 2013 13:11:56 GMT
      ETag:
      - '"37488ee3e13a580290da625430b30e6f"'
      X-OAuth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-OAuth-Scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      X-GitHub-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/7002405/commits?access_token=273c13ccc918a992618a503df7dadfe06f70b3f5&sha=develop&top=develop&last_sha=dc2d064f09c82b22157629a2467df1afec90a9c4>;
        rel="next", <https://api.github.com/repositories/7002405/commits?access_token=273c13ccc918a992618a503df7dadfe06f70b3f5&sha=develop>;
        rel="first"
    body:
      encoding: UTF-8
      string: '[{"sha":"0fe016e83797498f4fc0400aff71c0707076b901","commit":{"author":{"name":"Cristian
        Berneanu","email":"cristian@aircloak.com","date":"2013-11-19T13:11:56Z"},"committer":{"name":"Cristian
        Berneanu","email":"cristian@aircloak.com","date":"2013-11-19T13:11:56Z"},"message":"Merge
        pull request #52 from Aircloak/sebastian/bugfix/configuration-merge-conflict\n\nAdd
        required comma to configuration","tree":{"sha":"11ff7d884c932fcfb7ba429408267f76c7046717","url":"https://api.github.com/repos/Aircloak/erlattest/git/trees/11ff7d884c932fcfb7ba429408267f76c7046717"},"url":"https://api.github.com/repos/Aircloak/erlattest/git/commits/0fe016e83797498f4fc0400aff71c0707076b901","comment_count":0},"url":"https://api.github.com/repos/Aircloak/erlattest/commits/0fe016e83797498f4fc0400aff71c0707076b901","html_url":"https://github.com/Aircloak/erlattest/commit/0fe016e83797498f4fc0400aff71c0707076b901","comments_url":"https://api.github.com/repos/Aircloak/erlattest/commits/0fe016e83797498f4fc0400aff71c0707076b901/comments","author":{"login":"cristianberneanu","id":5346001,"avatar_url":"https://1.gravatar.com/avatar/1bbdf667022c3e87f83e561c2db255ff?d=https%3A%2F%2Fidenticons.github.com%2F5b3bc0ce9edd43742c2097cc59b7763c.png&r=x","gravatar_id":"1bbdf667022c3e87f83e561c2db255ff","url":"https://api.github.com/users/cristianberneanu","html_url":"https://github.com/cristianberneanu","followers_url":"https://api.github.com/users/cristianberneanu/followers","following_url":"https://api.github.com/users/cristianberneanu/following{/other_user}","gists_url":"https://api.github.com/users/cristianberneanu/gists{/gist_id}","starred_url":"https://api.github.com/users/cristianberneanu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cristianberneanu/subscriptions","organizations_url":"https://api.github.com/users/cristianberneanu/orgs","repos_url":"https://api.github.com/users/cristianberneanu/repos","events_url":"https://api.github.com/users/cristianberneanu/events{/privacy}","received_events_url":"https://api.github.com/users/cristianberneanu/received_events","type":"User","site_admin":false},"committer":{"login":"cristianberneanu","id":5346001,"avatar_url":"https://1.gravatar.com/avatar/1bbdf667022c3e87f83e561c2db255ff?d=https%3A%2F%2Fidenticons.github.com%2F5b3bc0ce9edd43742c2097cc59b7763c.png&r=x","gravatar_id":"1bbdf667022c3e87f83e561c2db255ff","url":"https://api.github.com/users/cristianberneanu","html_url":"https://github.com/cristianberneanu","followers_url":"https://api.github.com/users/cristianberneanu/followers","following_url":"https://api.github.com/users/cristianberneanu/following{/other_user}","gists_url":"https://api.github.com/users/cristianberneanu/gists{/gist_id}","starred_url":"https://api.github.com/users/cristianberneanu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cristianberneanu/subscriptions","organizations_url":"https://api.github.com/users/cristianberneanu/orgs","repos_url":"https://api.github.com/users/cristianberneanu/repos","events_url":"https://api.github.com/users/cristianberneanu/events{/privacy}","received_events_url":"https://api.github.com/users/cristianberneanu/received_events","type":"User","site_admin":false},"parents":[{"sha":"91be663a82b4245f70e33bd020c6acf3d7c0da93","url":"https://api.github.com/repos/Aircloak/erlattest/commits/91be663a82b4245f70e33bd020c6acf3d7c0da93","html_url":"https://github.com/Aircloak/erlattest/commit/91be663a82b4245f70e33bd020c6acf3d7c0da93"},{"sha":"21b4645963fa5c6eaa98df5f7dcafd1b17e231f5","url":"https://api.github.com/repos/Aircloak/erlattest/commits/21b4645963fa5c6eaa98df5f7dcafd1b17e231f5","html_url":"https://github.com/Aircloak/erlattest/commit/21b4645963fa5c6eaa98df5f7dcafd1b[...]
[...]
