<h1>Basic usage stats</h1>

<hr />

<div class="container-fluid">
  <div class="row">
    <%= for stat <- @basic_stats do %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <p class="lead"><%= stat.customer_name %></p>
        <h1><%= stat.query_count %> <small>queries</small></h1>
        <h1><%= stat.users_count %> <small>users anonymized</small></h1>
      </div>
    <% end %>
  </div>
</div>
