---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/aircloak/erlattest/commits/4023b4d576873e7bf3e2d5a6d891b982fd14f36b?access_token=273c13ccc918a992618a503df7dadfe06f70b3f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="273c13ccc918a992618a503df7dadfe06f70b3f5"
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4997'
      X-RateLimit-Reset:
      - '1383214993'
      Last-Modified:
      - Thu, 24 Oct 2013 13:03:28 GMT
      ETag:
      - '"de7b6ffd6aeafa243ad61619ca7f6e83"'
      X-OAuth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-OAuth-Scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"4023b4d576873e7bf3e2d5a6d891b982fd14f36b","commit":{"author":{"name":"Sebastian
        Probst Eide","email":"sebastian.probst.eide@gmail.com","date":"2013-10-24T13:03:28Z"},"committer":{"name":"Sebastian
        Probst Eide","email":"sebastian.probst.eide@gmail.com","date":"2013-10-24T13:03:28Z"},"message":"Merge
        pull request #41 from Aircloak/cristian/feature/protobuf-static-link\n\nStatically
        link protobuf library","tree":{"sha":"1bfef71a26bbd57890d530fdb92abcd2c1e3e7a6","url":"https://api.github.com/repos/Aircloak/erlattest/git/trees/1bfef71a26bbd57890d530fdb92abcd2c1e3e7a6"},"url":"https://api.github.com/repos/Aircloak/erlattest/git/commits/4023b4d576873e7bf3e2d5a6d891b982fd14f36b","comment_count":0},"url":"https://api.github.com/repos/Aircloak/erlattest/commits/4023b4d576873e7bf3e2d5a6d891b982fd14f36b","html_url":"https://github.com/Aircloak/erlattest/commit/4023b4d576873e7bf3e2d5a6d891b982fd14f36b","comments_url":"https://api.github.com/repos/Aircloak/erlattest/commits/4023b4d576873e7bf3e2d5a6d891b982fd14f36b/comments","author":{"login":"sebastian","id":1089,"avatar_url":"https://0.gravatar.com/avatar/ebac0be1687975b63a20da7b254442ab?d=https%3A%2F%2Fidenticons.github.com%2F03f544613917945245041ea1581df0c2.png&r=x","gravatar_id":"ebac0be1687975b63a20da7b254442ab","url":"https://api.github.com/users/sebastian","html_url":"https://github.com/sebastian","followers_url":"https://api.github.com/users/sebastian/followers","following_url":"https://api.github.com/users/sebastian/following{/other_user}","gists_url":"https://api.github.com/users/sebastian/gists{/gist_id}","starred_url":"https://api.github.com/users/sebastian/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sebastian/subscriptions","organizations_url":"https://api.github.com/users/sebastian/orgs","repos_url":"https://api.github.com/users/sebastian/repos","events_url":"https://api.github.com/users/sebastian/events{/privacy}","received_events_url":"https://api.github.com/users/sebastian/received_events","type":"User","site_admin":false},"committer":{"login":"sebastian","id":1089,"avatar_url":"https://0.gravatar.com/avatar/ebac0be1687975b63a20da7b254442ab?d=https%3A%2F%2Fidenticons.github.com%2F03f544613917945245041ea1581df0c2.png&r=x","gravatar_id":"ebac0be1687975b63a20da7b254442ab","url":"https://api.github.com/users/sebastian","html_url":"https://github.com/sebastian","followers_url":"https://api.github.com/users/sebastian/followers","following_url":"https://api.github.com/users/sebastian/following{/other_user}","gists_url":"https://api.github.com/users/sebastian/gists{/gist_id}","starred_url":"https://api.github.com/users/sebastian/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sebastian/subscriptions","organizations_url":"https://api.github.com/users/sebastian/orgs","repos_url":"https://api.github.com/users/sebastian/repos","events_url":"https://api.github.com/users/sebastian/events{/privacy}","received_events_url":"https://api.github.com/users/sebastian/received_events","type":"User","site_admin":false},"parents":[{"sha":"d400426d5c242daf37c180f01e357ca40636ca86","url":"https://api.github.com/repos/Aircloak/erlattest/commits/d400426d5c242daf37c180f01e357ca40636ca86","html_url":"https://github.com/Aircloak/erlattest/commit/d400426d5c242daf37c180f01e357ca40636ca86"},{"sha":"7590ace64d82233911a939997f7476d6e516f971","url":"https://api.github.com/repos/Aircloak/erlattest/commits/7590ace64d82233911a939997f7476d6e516f971","html_url":"https://github.com/Aircloak/erlattest/commit/7590ace64d82233911a939997f7476d6e516f971"}],"stats":{"total":17,"additions":5,"deletions":12},"files":[{"sha":"a30cd4ebea65861a9e6028b987b7ff55db5457a8","filename":"c_src/compile_port.sh","status":"modified","additions":5,"deletions":12,"changes":17,"blob_url":"https://github.com/Aircloak/erlattest/blob/4023b4d576873e7bf3e2d5a6d891b982fd14f36b/c_src/compile_port.sh","raw_url":"https://github.com/Aircloak/erlattest/raw/4023b4d576873e7bf3e2d5a6d891b982fd14f36b/c_src/compile_port.sh","contents_url":"https://api.github.com/repos/Aircloak/erlattest/contents/c_src/compile_port.sh?ref=4023b4d576873e7bf3e2d5a6d891b982fd14f36b","patch":"@@
        -1,7 +1,7 @@\n #!/usr/bin/env bash\n \n-LINKED_LIBS=\"-lprotobuf-c\"\n-LINKED_LIBS=\"$LINKED_LIBS
        -ltspi -lcrypto\"\n+STATIC_LIBS=\"-lprotobuf-c\"\n+DYNAMIC_LIBS=\"-ltspi -lcrypto\"\n
        # the following fails if $TPM_FLAG is whitespace (i.e. non-NULL).  In this\n
        # case, the SHELL_TPM_FLAG will be only \"-D \", and the cc\n # command at
        the end will fail.\n@@ -12,19 +12,12 @@ else\n   SHELL_TPM_FLAG=-D$TPM_FLAG\n
        fi\n \n-# command tpm_version >/dev/null 2>&1\n-# if [ $? == 127 ]\n-# then\n-#   LINKED_LIBS=\"$LINKED_LIBS
        -lcrypto\"\n-#   TPM_FLAG=-DIGNORE_TPM\n-# else\n-#   LINKED_LIBS=\"$LINKED_LIBS
        -ltspi\"\n-# fi\n \n if [ ! -d \"priv\" ]; then\n   mkdir priv\n fi\n \n-echo
        \"Compiling tpm_quote with SHELL_TPM_FLAG: ''$SHELL_TPM_FLAG'' and linked
        libs: ''$LINKED_LIBS''\"\n+echo \"Compiling tpm_quote with SHELL_TPM_FLAG:
        ''$SHELL_TPM_FLAG'' dynamic libs: ''$DYNAMIC_LIBS'' and static libs: ''$STATIC_LIBS''\"\n
        cd c_src\n-cc -Wall -o ../priv/tpm_quote $SHELL_TPM_FLAG $CRYPTFS_FLAG -I.
        makequote.c aikquote.c attestation_internalmessages.pb-c.c attestation_requestresponse.pb-c.c
        utility.c $LINKED_LIBS\n+cc -Wall -o ../priv/tpm_quote $SHELL_TPM_FLAG $CRYPTFS_FLAG
        -I. makequote.c aikquote.c attestation_internalmessages.pb-c.c \\\n+  attestation_requestresponse.pb-c.c
        utility.c -Wl,-Bstatic $STATIC_LIBS -Wl,-Bdynamic $DYNAMIC_LIBS "}]}'
  recorded_at: Thu, 31 Oct 2013 09:23:15 GMT
recorded_with: VCR 2.6.0
