<div id="query-view">
  <%= for query <- @failed_queries do %>
    <div>
      <div>
        <b>Time</b>: <%= Air.Utils.DateTime.time_ago(query.inserted_at) %>
      </div>
      <div><b>Data source</b>: <%= query.data_source %></div>
      <div><b>Error</b>: <%= query.error %></div>
      <br />
      <pre><%= query.statement %></pre>
      <hr />
    </div>
  <% end %>
</div>
