<div id="query-view" />

<script>
  window.pageConfig = {
    onLoad: function(App) {
      var props = {
        lastQuery: <%= {:safe, @last_query} %>,
        sources: <%= {:safe, @data_sources} %>,
        CSRFToken: "<%= @csrf_token %>",
        guardianToken: "<%= @guardian_token %>",
        userId: "<%= @current_user.id %>",
      };

      App.queryPage(props, document.getElementById("query-view"));
    }
  };
</script>
