# Create the file `dev.local.exs` to change some settings in your development

use Mix.Config

# Enables real Github writes
# Be very careful with this option, because it will post statuses and comments to real github issues
# config :aircloak_ci, :simulate_github_writes, false

# Disables noisy console output for each build.
# config :aircloak_ci, cmd_runner: [console_out: false]

# This can be used to simulate various tests by sleeping for 1 second, and thus reduce the execution in dev.
config :aircloak_ci, :simulation, [:compliance, :standard_test]
