// Place all the styles related to the AirPub controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#event_console {
  align:left;
  width:100%;
  min-height:200px;
  border:2px solid black;
}
