//= require codemirror
//= require codemirror/addons/hint/show-hint
//= require bootstrap-datetimepicker.min

/* Increases the completion width */
.CodeMirror-hint {
  max-width: 30em;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.task-filters {
  padding-top:5px;
}

.table-filter-link {
  width: 300px;
}

.table-filter-link .btn {
  width: 90%;
}

.CodeMirror-line-error {
  background: #FFE0E0;
}

.right-aligned {
  float: right;
}

.error-text {
  color: red;
}

.table-centered {
  width: auto;
}

.table-centered td {
  text-align: center;
}

.table-centered th {
  text-align: center;
}
