---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/aircloak/testserver?access_token=273c13ccc918a992618a503df7dadfe06f70b3f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="273c13ccc918a992618a503df7dadfe06f70b3f5"
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4987'
      X-RateLimit-Reset:
      - '1383126243'
      Last-Modified:
      - Thu, 24 Oct 2013 15:56:17 GMT
      ETag:
      - '"5fdf483b79f60eaf3e83f93f7c19af28"'
      X-OAuth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-OAuth-Scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":12462094,"name":"TestServer","full_name":"Aircloak/TestServer","owner":{"login":"Aircloak","id":2162258,"avatar_url":"https://2.gravatar.com/avatar/5b58754e26f0aa25269e69b2184cbf63?d=https%3A%2F%2Fidenticons.github.com%2F5a794c2d6f4f1ce5a240d9698bb97e9d.png&r=x","gravatar_id":"5b58754e26f0aa25269e69b2184cbf63","url":"https://api.github.com/users/Aircloak","html_url":"https://github.com/Aircloak","followers_url":"https://api.github.com/users/Aircloak/followers","following_url":"https://api.github.com/users/Aircloak/following{/other_user}","gists_url":"https://api.github.com/users/Aircloak/gists{/gist_id}","starred_url":"https://api.github.com/users/Aircloak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Aircloak/subscriptions","organizations_url":"https://api.github.com/users/Aircloak/orgs","repos_url":"https://api.github.com/users/Aircloak/repos","events_url":"https://api.github.com/users/Aircloak/events{/privacy}","received_events_url":"https://api.github.com/users/Aircloak/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/Aircloak/TestServer","description":"Source
        code for test orchestration server","fork":false,"url":"https://api.github.com/repos/Aircloak/TestServer","forks_url":"https://api.github.com/repos/Aircloak/TestServer/forks","keys_url":"https://api.github.com/repos/Aircloak/TestServer/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Aircloak/TestServer/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Aircloak/TestServer/teams","hooks_url":"https://api.github.com/repos/Aircloak/TestServer/hooks","issue_events_url":"https://api.github.com/repos/Aircloak/TestServer/issues/events{/number}","events_url":"https://api.github.com/repos/Aircloak/TestServer/events","assignees_url":"https://api.github.com/repos/Aircloak/TestServer/assignees{/user}","branches_url":"https://api.github.com/repos/Aircloak/TestServer/branches{/branch}","tags_url":"https://api.github.com/repos/Aircloak/TestServer/tags","blobs_url":"https://api.github.com/repos/Aircloak/TestServer/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Aircloak/TestServer/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Aircloak/TestServer/git/refs{/sha}","trees_url":"https://api.github.com/repos/Aircloak/TestServer/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Aircloak/TestServer/statuses/{sha}","languages_url":"https://api.github.com/repos/Aircloak/TestServer/languages","stargazers_url":"https://api.github.com/repos/Aircloak/TestServer/stargazers","contributors_url":"https://api.github.com/repos/Aircloak/TestServer/contributors","subscribers_url":"https://api.github.com/repos/Aircloak/TestServer/subscribers","subscription_url":"https://api.github.com/repos/Aircloak/TestServer/subscription","commits_url":"https://api.github.com/repos/Aircloak/TestServer/commits{/sha}","git_commits_url":"https://api.github.com/repos/Aircloak/TestServer/git/commits{/sha}","comments_url":"https://api.github.com/repos/Aircloak/TestServer/comments{/number}","issue_comment_url":"https://api.github.com/repos/Aircloak/TestServer/issues/comments/{number}","contents_url":"https://api.github.com/repos/Aircloak/TestServer/contents/{+path}","compare_url":"https://api.github.com/repos/Aircloak/TestServer/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Aircloak/TestServer/merges","archive_url":"https://api.github.com/repos/Aircloak/TestServer/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Aircloak/TestServer/downloads","issues_url":"https://api.github.com/repos/Aircloak/TestServer/issues{/number}","pulls_url":"https://api.github.com/repos/Aircloak/TestServer/pulls{/number}","milestones_url":"https://api.github.com/repos/Aircloak/TestServer/milestones{/number}","notifications_url":"https://api.github.com/repos/Aircloak/TestServer/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Aircloak/TestServer/labels{/name}","releases_url":"https://api.github.com/repos/Aircloak/TestServer/releases{/id}","created_at":"2013-08-29T14:17:59Z","updated_at":"2013-10-24T15:56:17Z","pushed_at":"2013-10-24T15:54:38Z","git_url":"git://github.com/Aircloak/TestServer.git","ssh_url":"git@github.com:Aircloak/TestServer.git","clone_url":"https://github.com/Aircloak/TestServer.git","svn_url":"https://github.com/Aircloak/TestServer","homepage":"","size":2064,"watchers_count":0,"language":"Erlang","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":7,"forks":0,"open_issues":7,"watchers":0,"default_branch":"develop","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"organization":{"login":"Aircloak","id":2162258,"avatar_url":"https://2.gravatar.com/avatar/5b58754e26f0aa25269e69b2184cbf63?d=https%3A%2F%2Fidenticons.github.com%2F5a794c2d6f4f1ce5a240d9698bb97e9d.png&r=x","gravatar_id":"5b58754e26f0aa25269e69b2184cbf63","url":"https://api.github.com/users/Aircloak","html_url":"https://github.com/Aircloak","followers_url":"https://api.github.com/users/Aircloak/followers","following_url":"https://api.github.com/users/Aircloak/following{/other_user}","gists_url":"https://api.github.com/users/Aircloak/gists{/gist_id}","starred_url":"https://api.github.com/users/Aircloak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Aircloak/subscriptions","organizations_url":"https://api.github.com/users/Aircloak/orgs","repos_url":"https://api.github.com/users/Aircloak/repos","events_url":"https://api.github.com/users/Aircloak/events{/privacy}","received_events_url":"https://api.github.com/users/Aircloak/received_events","type":"Organization","site_admin":false}}'
  recorded_at: Wed, 30 Oct 2013 08:46:16 GMT
recorded_with: VCR 2.6.0
