<div class="row">
  <div class="col-md-9">
    <h2>Exports for Aircloak</h2>

    <%= if allow_new_export?(@oldest_pending_call_time) do %>
      <div>
        <b>Data not exported since <%= Timex.format!(@oldest_pending_call_time, "{YYYY}-{0M}-{0D}") %></b>
      </div>
      <a class="btn btn-primary" href="">Export</a>
    <% end %>
  </div>
</div>
