%h1 Welcome in the air!
%p May your flight be delightful!

=link_to "Queries", queries_path, class: "btn"
=link_to "Cloaks", cloaks_path, class: "btn"
=link_to "Client binaries", client_binaries_path, class: "btn"
=link_to "Existing commands", commands_path, class: "btn"
