- if permitted_to? :read, :queries
  %h1 Queries

  - unless @queries.count == 0
    %p Select a property you want to see

    - @queries.each do |query|
      %h2= link_to query.name, result_path(query.query_id)

  - else
    %p There are no queries to show results from.
    = link_to "Manage queries", queries_path, class: "btn" if permitted_to? :manage, :queries
