- if permitted_to? :read, :tasks
  %h1 Tasks

  - unless @tasks.count == 0
    %p Select a property you want to see

    - @tasks.each do |task|
      %h2= link_to task.name, result_path(task.id)

  - else
    %p There are no tasks to show results from.
    = link_to "Manage tasks", tasks_path, class: "btn" if permitted_to? :manage, :queries
