%h1= @task.name

%table{:class => "results"}
  %tr
    %th Bucket
    - @results.each do |result|
      %th= result.result_id
  - if @buckets
    - @buckets.each do |bucket|
      %tr
        %td= bucket[0]
        - @results.each do |result|
          - r = bucket[1][result.result_id]
          %td= r ? r : "--"
