%h1= @task.name

- if @results.count > 0
  %table.table.table-striped
    %thead
      %tr
        %th Bucket
        - @results.each do |result|
          %th= result.created_at
    - if @buckets
      %tbody
        - @buckets.each_pair do |name, bucket_results|
          %tr
            %td= name
            - @results.each do |result|
              - r = bucket_results[result.id]
              %td= r ? r : "--"
- else
  %p No results stored for this task.
