<div class="content">
  <small>
    Aircloak - <%= release_name() %> <%= version() %>
  </small>
  <%= if permitted?(@conn, Air.LicenseController, :index) do %>
    <small><a href="<%= license_path(@conn, :index) %>">Third Party Licenses</a></small>
  <% end %>
</div>
