# This is the sidekick service which is responsible for deregistration of the local
# frontend instance from etcd. The frontend unit is responsible for registering
# itself to etcd, and renewing its registration. However, it is possible that the
# frontend container dies abruptly. In such case, this unit will be stopped as well
# (courtesy of systemd dependencies), and it will in turn immediately deregister
# frontend instance from etcd (see ExecStop).

# For description of unit options, such as After, Requires, BindsTo, see
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Air frontend sidekick service

After=air-frontend.service
Wants=air-frontend.service
BindsTo=air-frontend.service
Requires=air-frontend.service

[Service]
SyslogIdentifier=air-frontend-sidekick
EnvironmentFile=/etc/environment

# The service does nothing (see comment at the top).
ExecStart=/bin/sh -c "sleep infinity"

# Deregistration of the local frontend instance
ExecStop=/bin/bash -c "/usr/bin/etcdctl --endpoint $ETCD_CLIENT rm /service_instances/frontends/${AIR_HOST_NAME} || true"

EnvironmentFile=/aircloak/air/environment

[Install]
WantedBy=multi-user.target
