[Unit]
Description=Air frontend sidekick service

After=air-frontend.service
Wants=air-frontend.service
BindsTo=air-frontend.service
Requires=air-frontend.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "sleep infinity"
ExecStop=/bin/bash -c "/usr/bin/etcdctl --endpoint $ETCD_CLIENT rm /service_instances/frontends/${AIR_HOST_NAME} || true"
EnvironmentFile=/aircloak/air/environment

[Install]
WantedBy=multi-user.target
