# For description of unit options, such as After, Requires, BindsTo, see
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Air router

After=air-prerequisites.service
Wants=air-prerequisites.service
Requires=air-prerequisites.service
BindsTo=air-prerequisites.service

[Service]
SyslogIdentifier=air-router
TimeoutStartSec=0
ExecStart=/aircloak/air/air_service_ctl.sh start_service router
ExecStop=/aircloak/air/air_service_ctl.sh stop_service router
Restart=on-failure

[Install]
WantedBy=multi-user.target