[Unit]
Description=Air frontend
After=etcd2.service
After=docker.service
After=air-keys.service
After=air-router@%i.service
BindsTo=air-router@%i.service
Requires=etcd2.service
Requires=docker.service
Requires=air-router@%i.service

[Service]
TimeoutStartSec=0
ExecStart=/aircloak/air/air_service_ctl.sh start_service frontend
ExecStop=/aircloak/air/air_service_ctl.sh stop_service frontend

[X-Fleet]
Conflicts=air-frontend@*.service
MachineOf=air-router@%i.service
