# For description of unit options, such as After, Requires, BindsTo, see
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Air frontend

After=air-prerequisites.service
Wants=air-prerequisites.service
Requires=air-prerequisites.service
BindsTo=air-prerequisites.service

[Service]
TimeoutStartSec=0
ExecStart=/aircloak/air/air_service_ctl.sh start_service frontend
ExecStop=/aircloak/air/air_service_ctl.sh stop_service frontend
Restart=on-failure

[X-Fleet]
Conflicts=air-frontend@*.service
MachineOf=air-system@%i.service

[Install]
WantedBy=multi-user.target
