[Unit]
Description=Air frontend discovery service
BindsTo=air-frontend@%i.service
After=air-frontend@%i.service
Requires=air-frontend@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "sleep infinity"
ExecStop=/bin/bash -c "/usr/bin/etcdctl --endpoint $ETCD_CLIENT rm /service_instances/frontends/${AIR_HOST_NAME} || true"
EnvironmentFile=/aircloak/air/environment

[X-Fleet]
Conflicts=air-frontend-discovery@*.service
MachineOf=air-frontend@%i.service