[Unit]
Description=Air backend
After=etcd2.service
After=docker.service
After=air-router@%i.service
BindsTo=air-router@%i.service
Requires=etcd2.service
Requires=docker.service
Requires=air-router@%i.service

[Service]
TimeoutStartSec=0
ExecStart=/aircloak/air/air_service_ctl.sh start_service backend
ExecStop=/aircloak/air/air_service_ctl.sh stop_service backend

[X-Fleet]
Conflicts=air-backend@*.service
MachineOf=air-router@%i.service
