# For description of unit options, such as After, Requires, BindsTo, see
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Air static site

After=air-prerequisites.service
Wants=air-prerequisites.service
Requires=air-prerequisites.service
BindsTo=air-prerequisites.service

[Service]
SyslogIdentifier=air-static-site
ExecStart=/aircloak/air/air_service_ctl.sh start_service static_website
ExecStop=/aircloak/air/air_service_ctl.sh stop_service static_website
Restart=on-failure

[Install]
WantedBy=multi-user.target
