[Unit]
Description=Air frontend discovery service
BindsTo=air-frontend@%i.service
After=air-frontend@%i.service
Requires=air-frontend@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "sleep infinity"
ExecStop=/usr/bin/etcdctl rm /service_instances/frontends/$AIR_HOST_NAME
EnvironmentFile=/aircloak/air/environment

[X-Fleet]
MachineOf=air-frontend@%i.service