# This is the "base" unit where we specify requirements for the Air system. All
# other air units will depend on this unit.
#
# For description of unit options, such as After, Requires, BindsTo, see
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

[Unit]
Description=Air prerequisites

After=air-install.service
After=etcd2.service
Requires=etcd2.service
BindsTo=etcd2.service

After=docker.service
Requires=docker.service
BindsTo=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/aircloak/air/prerequisites.sh

[Install]
WantedBy=multi-user.target
