[Unit]
Description=Air frontend discovery service
BindsTo=frontend@%i.service
After=frontend@%i.service
Requires=frontend@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "sleep infinity"
ExecStop=/usr/bin/etcdctl rm /service_instances/frontends/$AIR_HOST_NAME
EnvironmentFile=/aircloak/air/environment

[X-Fleet]
MachineOf=frontend@%i.service