<h2>Warnings</h2>

<%= unless Air.Service.Warnings.known_problems? do %>

  <p>
    Currently there are no system warnings.
  </p>

<% else %>

  <%= render "_warnings.html", conn: @conn, problems: Air.Service.Warnings.problems() %>

<% end %>
