upstream frontend {
  {{ if ls "/service_instances/frontends" }}
    {{ if exists "/service_instances/frontends/$AIR_HOST_NAME_8080"}}
      {{/* Set local service as primary, others as backup */}}
      {{ range gets "/service_instances/frontends/*" }}
        {{ $data := json .Value }}
        {{ if eq .Key "/service_instances/frontends/$AIR_HOST_NAME_8080"}}
          {{/* Use the known address of the host instead of the public ip */}}
          server 127.0.0.1:8080;
        {{ else }}
          server {{ $data.http_endpoint }} backup;
        {{ end }}
      {{ end }}
    {{ else }}
      {{/* No local service -> make all upstreams primary */}}
      {{ range gets "/service_instances/frontends/*" }}
        {{ $data := json .Value }}
        server {{ $data.http_endpoint }};
      {{ end }}
    {{ end }}
  {{ else }}
    {{/* No registered service -> hardcode one required upstream to the local service */}}
    server 127.0.0.1:8080;
  {{ end }}

  keepalive 16;
}

upstream backend {
  {{ if ls "/service_instances/backends" }}
    {{ if exists "/service_instances/backends/$AIR_HOST_NAME_11000"}}
      {{/* Set local service as primary, others as backup */}}
      {{ range gets "/service_instances/backends/*" }}
        {{ $data := json .Value }}
        {{ if eq .Key "/service_instances/backends/$AIR_HOST_NAME_11000"}}
          {{/* Use the known address of the host instead of the public ip */}}
          server 127.0.0.1:11000;
        {{ else }}
          server {{ $data.http_endpoint }} backup;
        {{ end }}
      {{ end }}
    {{ else }}
      {{/* No local service -> make all upstreams primary */}}
      {{ range gets "/service_instances/backends/*" }}
        {{ $data := json .Value }}
        server {{ $data.http_endpoint }};
      {{ end }}
    {{ end }}
  {{ else }}
    {{/* No registered service -> hardcode one required upstream to the local service */}}
    server 127.0.0.1:11000;
  {{ end }}

  keepalive 16;
}

# References just the local backend. Needed for monitoring purposes.
upstream local_backend {
  server 127.0.0.1:11000;
}

upstream aircloak {
  server 127.0.0.1:10000;
  keepalive 16;
}

upstream aircloak_stage {
  server 127.0.0.1:10001;
  keepalive 16;
}
