#!/bin/sh

tools=$(dirname "$0")
app_config_base="$tools/../../rel/files/app.config"
app_config_dest="$tools/../../test/app.config"

cat $app_config_base | \
    sed 's,/mnt/crypt,.proper/data/crypt,' | \
    sed 's,/var/log,.proper/data/log,' | \
    grep -v "lager_syslog_backend" | \
    sed 's/{lager_console_backend, info}/{lager_console_backend, error}/' | \
    sed 's/"cloak"/"cloaktest1"/' | \
    sed 's/cloakmetrics.mpi-sws.org/localhost/' | \
    sed 's,https://hello.aircloak.com,http://localhost:3000,' | \
    sed 's,/var/run,.proper/data/run,' | \
    sed 's/{expiry, 3600000}/{expiry, 100}/' | \
    sed 's/{min_age_of_timeslot_for_sync_in_seconds,.*}/{min_age_of_timeslot_for_sync_in_seconds, 1}/' | \
    sed 's/{min_sigma,.*}/{min_sigma, 2}/' | \
    sed 's/{idle_timeout,.*}/{idle_timeout,100}/'> $app_config_dest
    