<h2>Cloaks</h2>
<hr/>
<%= if length(@cloaks) == 0 do %>
  <div><b>There are currently no cloaks registered.</b></div>
<% else %>
  <%= for cloak <- @cloaks do %>
    <div>
      <div>
        <h3><%= cloak.name %>
          <small><%= Air.Cloak.state(cloak) %>
            <%= if Air.Cloak.state(cloak) == :online do %>
            since <%= Air.Utils.DateTime.time_ago(cloak.updated_at) %>
            <% end %>
          </small>
        </h3>
      </div>
    </div>
  <% end %>
<% end %>
