<div class="alert alert-info">
  <p>The user can set a new password using the following link. The link will remain valid for 1 week.</p>
  <%= render AirWeb.SharedView, "copyable_text.html", text: reset_path(@conn, @token), name: "reset-link" %>
</div>

<script>
  window.pageConfig = {
    onLoad: function(App) {
      const input = document.getElementById("reset-link")
      input.value = window.location.protocol + "//" + window.location.host + input.value;
    }
  };
</script>
