<header class="page-header">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><%= link "Admin", to: "/admin", class: "text-muted" %></li>
    <li class="breadcrumb-item"><%= link "Users", to: admin_user_path(@conn, :index), class: "text-muted" %></li>
  </ol>

  <h1>Add a user</h1>
</header>

<%= render "_form.html", changeset: @changeset, action: admin_user_path(@conn, :create),
  conn: @conn, available_groups: @available_groups, chosen_groups: [] %>
