<ol class="breadcrumb">
  <li><%= link "Users", to: admin_user_path(@conn, :index) %></li>
  <li class="active">Reset password</li>
</ol>

<h2>Reset password for <%= @user.name %></h2>

<div class="alert alert-info" >
  <p>The user can set a new password using following link. The link will remain valid for 1 day.</p>

  <br/>

  <pre><%= @reset_link %></pre>
</div>
