development:
  installation:
    global: false
  testing:
    min_cloaks: 1
  task:
    return_protocol: http
    return_host: localhost
    return_port: 3000
  manny_air:
    host: localhost
  test_server:
    host: localhost:8000
  build_server:
    host: localhost
  cloak:
    protocol: http
    port: 8098
  private_key_password: "change to unique string for production"
  github_oauth_token: "an oauth token for github that gives you access to deployable entity repos"
  # The secret key base is used in /config/initializers/secret_token.rb to
  # secure session ids in cookies.
  # For production, it should be at least 30 characters long.
  secret_key_base: 'replate with random secret'
  # This token can be gotten off of magnum.travis-ci.com
  # It is the token associated with Sebastian's travis-ci
  # account... unfortunately Travis-CI uses the token associated
  # with the account of the user who enabled Travis-CI builds for
  # the organizations
  travis_token: "token"
