<h2>Cloaks</h2>

<%= if length(@cloaks) == 0 do %>
  <div><b>There are currently no cloaks registered.</b></div>
<% else %>
  <%= for cloak <- @cloaks do %>
    <div>
      <div>
        <h3><%= cloak.name %>
          <small>since <%= time_ago(cloak.online_since) %></small>
        </h3>
        <p>
          <%= cloak.name %> makes the following data sources available:
          <strong><%= data_source_names(cloak) %></strong>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
