-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "tasks/results", "data-turbolinks-track" => true}

%hr

-# set rendering parameters
.render_params{data: {results: @results.to_json, task_last_update: @task.code_timestamp.to_i * 1000}}

%table.table.table-striped.table-centered#results_table
  %thead
    %tr
      %th time
      %th errors
      - if @show_details
        %th details
  %tbody
    %tr
      %td
      %td
      - if @show_details
        %td

%p
  * = Outdated code

%hr
