-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "tasks/result", "data-turbolinks-track" => true}

%hr

-# set rendering parameters
.render_params{data: {result: @result.to_json, task_last_update: @task.code_timestamp.to_i * 1000}}

%p
  %b time:
  %span#time
%p
  %b errors:
  %span#errors
%p#lcf_tail
  %b number of filtered users:
  %span#lcf_tail_size
  = help_tooltip "lcf_tail"

%p
  %b properties:
  %table
    %tr
      %td
        %table.table.table-striped.table-centered#result_table
          %thead
          %tbody
      %td.align-top
        %div#charts

%hr
