upstream insights {
  {{ if ls "/service_instances/insights" }}
    {{ if exists "/service_instances/insights/$AIR_HOST_NAME_$AIR_INSIGHTS_HTTP_PORT"}}
      {{/* Set local service as primary, others as backup */}}
      {{ range gets "/service_instances/insights/*" }}
        {{ $data := json .Value }}
        {{ if eq .Key "/service_instances/insights/$AIR_HOST_NAME_$AIR_INSIGHTS_HTTP_PORT"}}
          {{/* Use the known address of the host instead of the public ip */}}
          server 127.0.0.1:$AIR_INSIGHTS_HTTP_PORT;
        {{ else }}
          server {{ $data.http_endpoint }} backup;
        {{ end }}
      {{ end }}
    {{ else }}
      {{/* No local service -> make all upstreams primary */}}
      {{ range gets "/service_instances/insights/*" }}
        {{ $data := json .Value }}
        server {{ $data.http_endpoint }};
      {{ end }}
    {{ end }}
  {{ else }}
    {{/* No registered service -> hardcode one required upstream to the local service */}}
    server 127.0.0.1:$AIR_INSIGHTS_HTTP_PORT;
  {{ end }}

  include /etc/nginx/support/upstream_keepalive.conf;
}

upstream aircloak {
  server 127.0.0.1:10000;
  include /etc/nginx/support/upstream_keepalive.conf;
}

upstream aircloak_stage {
  server 127.0.0.1:10001;
  include /etc/nginx/support/upstream_keepalive.conf;
}
