[
  {
    "error": null,
    "license": {
      "text": "The full text of the license",
      "type": "mit"
    },
    "name": "some dependency",
    "realm": "node",
    "version": "1.2.3"
  },
  {
    "error": null,
    "license": {
      "text": "The full text of the license",
      "type": "mit"
    },
    "name": "another dependency",
    "realm": "elixir",
    "version": "2.3.4"
  }
]
