{sys, [
  {lib_dirs, ["../apps/", "../deps/"]},
  {rel, "cloak", "1", [
    kernel,
    stdlib,
    sasl,
    lager_syslog,
    syslog,
    mnesia,
    cloak
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib
  ]},
  {boot_rel, "cloak"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
                     "^erts.*/bin/(dialyzer|typer)"]},
  {excl_archive_filters, [".*"]},
  {app, sasl, [{incl_cond, include}]},
  {app, cloak, [{incl_cond, include}]},
  {app, compiler, [{mod_cond, all}]},
  {app, proper, [{incl_cond, exclude}]},
  {app, rebar, [{incl_cond, exclude}]}
]}.

{target_dir, "cloak"}.

{overlay, [
  {copy, "../priv/sandbox", "priv/sandbox"},
  {copy, "../priv/helpers.lua", "priv/helpers.lua"},
  {copy, "../priv/serialization.lua", "priv/serialization.lua"},
  {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
  {copy, "files/.erlang.cookie", ".erlang.cookie"},
  {copy, "files/app.config", "etc/app.config"},
  {copy, "files/vm.args", "etc/vm.args"},
  {copy, "files/cloak", "bin/cloak"},
  {copy, "files/cloak-admin", "bin/cloak-admin"},
  {copy, "files/liveness", "bin/liveness"}
]}.
