<h2>
  Groups
  <a class="btn btn-primary btn-sm pull-right" href="<%= admin_group_path(@conn, :new) %>">Add a group</a>
</h2>

<%= render("_list.html", conn: @conn, groups: @groups) %>

<%= if length(@ldap_groups) > 0 do %>
  <h2>LDAP Groups</h2>
  <div class="alert alert-info">
    These groups and their membership are managed in LDAP. You can only assign them to data sources here.
  </div>
  <%= render("_list.html", conn: @conn, groups: @ldap_groups) %>
<% end %>
