<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link "Groups", to: admin_group_path(@conn, :index) %></li>
  <li class="breadcrumb-item active">New group</li>
</ol>

<h2>Add a group</h2>

<%= render "_form.html", data: @data, action: admin_group_path(@conn, :create), conn: @conn,
  changeset: @changeset %>
