<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aircloak Central</title>
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.ico") %>" type="image/x-icon">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="body-wrapper">
      <div class="container">
        <%= render "_navbar.html", conn: @conn %>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>

      </div> <!-- /container -->

      <div class="footer">
        <div class="container">
          <div class="content">
            <small>
              Aircloak Central
            </small>
            <small>
              <a href="/privacy_policy">Privacy policy</a>
            </small>
          </div>
        </div>
      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
