global
  user haproxy
  group haproxy
  daemon
  nbproc 10
  log 127.0.0.1 local0 info

defaults
  log global
  option logasap

frontend https
  bind *:$BALANCER_HTTPS_PORT
  mode tcp
  option tcplog
  option clitcpka
  maxconn 10000
  timeout client 5s
  timeout client-fin 5s
  default_backend router_https

frontend http
  bind *:$BALANCER_HTTP_PORT
  mode tcp
  option tcplog
  option clitcpka
  maxconn 10000
  timeout client 5s
  timeout client-fin 5s
  default_backend router_http

backend router_https
  option srvtcpka
  balance roundrobin
  retries 3
  timeout connect 5s
  timeout queue 5s
  timeout server 60s
  # for websocket connections
  timeout tunnel 1h
  $HTTPS_UPSTREAMS

backend router_http
  option srvtcpka
  balance roundrobin
  retries 3
  timeout connect 5s
  timeout queue 5s
  timeout server 60s
  # for websocket connections
  timeout tunnel 1h
  $HTTP_UPSTREAMS
