---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/aircloak/erlattest?access_token=273c13ccc918a992618a503df7dadfe06f70b3f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="273c13ccc918a992618a503df7dadfe06f70b3f5"
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4985'
      X-RateLimit-Reset:
      - '1383126243'
      Last-Modified:
      - Tue, 29 Oct 2013 09:07:59 GMT
      ETag:
      - '"c9ec87269dd05bc18edcd9665c2fb8dd"'
      X-OAuth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-OAuth-Scopes:
      - repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin
      X-GitHub-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":7002405,"name":"erlattest","full_name":"Aircloak/erlattest","owner":{"login":"Aircloak","id":2162258,"avatar_url":"https://2.gravatar.com/avatar/5b58754e26f0aa25269e69b2184cbf63?d=https%3A%2F%2Fidenticons.github.com%2F5a794c2d6f4f1ce5a240d9698bb97e9d.png&r=x","gravatar_id":"5b58754e26f0aa25269e69b2184cbf63","url":"https://api.github.com/users/Aircloak","html_url":"https://github.com/Aircloak","followers_url":"https://api.github.com/users/Aircloak/followers","following_url":"https://api.github.com/users/Aircloak/following{/other_user}","gists_url":"https://api.github.com/users/Aircloak/gists{/gist_id}","starred_url":"https://api.github.com/users/Aircloak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Aircloak/subscriptions","organizations_url":"https://api.github.com/users/Aircloak/orgs","repos_url":"https://api.github.com/users/Aircloak/repos","events_url":"https://api.github.com/users/Aircloak/events{/privacy}","received_events_url":"https://api.github.com/users/Aircloak/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/Aircloak/erlattest","description":"Simple
        erlang attestation batching server.","fork":false,"url":"https://api.github.com/repos/Aircloak/erlattest","forks_url":"https://api.github.com/repos/Aircloak/erlattest/forks","keys_url":"https://api.github.com/repos/Aircloak/erlattest/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Aircloak/erlattest/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Aircloak/erlattest/teams","hooks_url":"https://api.github.com/repos/Aircloak/erlattest/hooks","issue_events_url":"https://api.github.com/repos/Aircloak/erlattest/issues/events{/number}","events_url":"https://api.github.com/repos/Aircloak/erlattest/events","assignees_url":"https://api.github.com/repos/Aircloak/erlattest/assignees{/user}","branches_url":"https://api.github.com/repos/Aircloak/erlattest/branches{/branch}","tags_url":"https://api.github.com/repos/Aircloak/erlattest/tags","blobs_url":"https://api.github.com/repos/Aircloak/erlattest/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Aircloak/erlattest/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Aircloak/erlattest/git/refs{/sha}","trees_url":"https://api.github.com/repos/Aircloak/erlattest/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Aircloak/erlattest/statuses/{sha}","languages_url":"https://api.github.com/repos/Aircloak/erlattest/languages","stargazers_url":"https://api.github.com/repos/Aircloak/erlattest/stargazers","contributors_url":"https://api.github.com/repos/Aircloak/erlattest/contributors","subscribers_url":"https://api.github.com/repos/Aircloak/erlattest/subscribers","subscription_url":"https://api.github.com/repos/Aircloak/erlattest/subscription","commits_url":"https://api.github.com/repos/Aircloak/erlattest/commits{/sha}","git_commits_url":"https://api.github.com/repos/Aircloak/erlattest/git/commits{/sha}","comments_url":"https://api.github.com/repos/Aircloak/erlattest/comments{/number}","issue_comment_url":"https://api.github.com/repos/Aircloak/erlattest/issues/comments/{number}","contents_url":"https://api.github.com/repos/Aircloak/erlattest/contents/{+path}","compare_url":"https://api.github.com/repos/Aircloak/erlattest/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Aircloak/erlattest/merges","archive_url":"https://api.github.com/repos/Aircloak/erlattest/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Aircloak/erlattest/downloads","issues_url":"https://api.github.com/repos/Aircloak/erlattest/issues{/number}","pulls_url":"https://api.github.com/repos/Aircloak/erlattest/pulls{/number}","milestones_url":"https://api.github.com/repos/Aircloak/erlattest/milestones{/number}","notifications_url":"https://api.github.com/repos/Aircloak/erlattest/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Aircloak/erlattest/labels{/name}","releases_url":"https://api.github.com/repos/Aircloak/erlattest/releases{/id}","created_at":"2012-12-04T15:47:59Z","updated_at":"2013-10-29T09:07:59Z","pushed_at":"2013-10-28T12:19:52Z","git_url":"git://github.com/Aircloak/erlattest.git","ssh_url":"git@github.com:Aircloak/erlattest.git","clone_url":"https://github.com/Aircloak/erlattest.git","svn_url":"https://github.com/Aircloak/erlattest","homepage":null,"size":2444,"watchers_count":0,"language":"C","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":8,"forks":0,"open_issues":8,"watchers":0,"default_branch":"develop","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"organization":{"login":"Aircloak","id":2162258,"avatar_url":"https://2.gravatar.com/avatar/5b58754e26f0aa25269e69b2184cbf63?d=https%3A%2F%2Fidenticons.github.com%2F5a794c2d6f4f1ce5a240d9698bb97e9d.png&r=x","gravatar_id":"5b58754e26f0aa25269e69b2184cbf63","url":"https://api.github.com/users/Aircloak","html_url":"https://github.com/Aircloak","followers_url":"https://api.github.com/users/Aircloak/followers","following_url":"https://api.github.com/users/Aircloak/following{/other_user}","gists_url":"https://api.github.com/users/Aircloak/gists{/gist_id}","starred_url":"https://api.github.com/users/Aircloak/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Aircloak/subscriptions","organizations_url":"https://api.github.com/users/Aircloak/orgs","repos_url":"https://api.github.com/users/Aircloak/repos","events_url":"https://api.github.com/users/Aircloak/events{/privacy}","received_events_url":"https://api.github.com/users/Aircloak/received_events","type":"Organization","site_admin":false}}'
  recorded_at: Wed, 30 Oct 2013 08:46:17 GMT
[...]
