upstream frontend {
  {{ range gets "/services/frontends/*" }}
    {{ $data := json .Value }}
    server {{ $data.http_endpoint }};
  {{ end }}
}

upstream backend {
  {{ range gets "/services/backends/*" }}
    {{ $data := json .Value }}
    server {{ $data.http_endpoint }};
  {{ end }}
}

server {
  listen 8200;

  location / {
    proxy_pass http://frontend;
  }

  location /backend {
    proxy_pass http://backend/backend/;
  }
}
