{sys, [
  {lib_dirs, ["../apps/", "../deps/"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "air", "1", [
    kernel,
    stdlib,
    sasl,
    erlang_common,
    air
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib
  ]},
  {boot_rel, "air"},
  {profile, embedded},
  {incl_cond, derived},
  {excl_archive_filters, [".*"]},  %% Do not archive built libs
  {excl_sys_filters, ["^bin/(?!start_clean.boot)",
    "^erts.*/bin/(dialyzer|typer)",
    "^erts.*/(doc|info|include|lib|man|src)"
  ]},
  {excl_app_filters, ["\.gitignore"]},
  {app, hipe, [{incl_cond, exclude}]},
  {app, proper, [{incl_cond, exclude}]},
  {app, rebar, [{incl_cond, exclude}]},
  % From new
  {app, air, [{mod_cond, app}, {incl_cond, include}]}
]}.

{target_dir, "air"}.

{overlay, [
  {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
  {copy, "air/bin/start_clean.boot",
        "\{\{erts_vsn\}\}/bin/start_clean.boot"},
  {copy, "files/air", "bin/air"},
  {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
  {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
  {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
  {copy, "files/air", "bin/air"},
  % Needed for the sandboxes to function
  {copy, "../deps/cloak/priv/sandbox", "priv/sandbox"},
  {copy, "../deps/cloak/priv/helpers.lua", "priv/helpers.lua"},
  {copy, "../deps/cloak/priv/serialization.lua", "priv/serialization.lua"}
]}.
