{sys, [
  {excl_lib, otp_root},
  {lib_dirs, ["../apps/", "../deps/"]},
  {rel, "air", "1", [
    kernel,
    stdlib,
    sasl,
    lager_syslog,
    syslog,
    air
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib
  ]},
  {boot_rel, "air"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
                     "^erts.*/bin/(dialyzer|typer)"]},
  {excl_archive_filters, [".*"]},
  {app, air, [{incl_cond, include}]},
  {app, compiler, [{mod_cond, all}]},
  {app, proper, [{incl_cond, exclude}]},
  {app, rebar, [{incl_cond, exclude}]}
]}.

{target_dir, "air"}.

{overlay, [
  {copy, "files/nodetool", "releases/{{rel_vsn}}/nodetool"},
  {copy, "files/sys.config", "etc/app.config"},
  {copy, "files/vm.args", "etc/vm.args"},
  {copy, "files/air", "bin/air"},
  {copy, "../deps/cloak/priv/sandbox", "priv/sandbox"},
  {copy, "../deps/cloak/priv/helpers.lua", "priv/helpers.lua"},
  {copy, "../deps/cloak/priv/serialization.lua", "priv/serialization.lua"}
]}.
