.activity-monitor-queries-enter {
  opacity: 0.01;
}

.activity-monitor-queries-enter.activity-monitor-queries-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.activity-monitor-query-exit {
  opacity: 1;
}

.activity-monitor-query-exit.activity-monitor-query-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
