.login-column {
  max-width: 20ch;
  word-wrap: break-word;
}

h2 small.newline {
  display: block;
  margin-top: 1em;
  font-size: 0.5em;
}

label small.newline {
  display: block;
  font-weight: normal;
  font-size: 0.8em;
}

.nested-checkboxes {
  max-height: 400px;
  overflow-y: auto;
}

.nested-checkboxes > div {
  column-count: 2;
}

.navbar-vertical.navbar-expand-md.fixed-left {
  left: 0;
  border-width: 0 1px 0 0;
  position: fixed;
  top: 140px;
  bottom: 0px;
  overflow-y: auto;
  z-index: 10;
  padding: 0;
  transform: translateX(0px) scaleX(1);
  transition: transform 0.35s ease;
}

.navbar-vertical.navbar-expand-md.fixed-left.collapse.show,
.navbar-vertical.navbar-expand-md.fixed-left.collapsing {
  padding: 0.5rem 1rem;
}

.navbar-vertical.navbar-expand-md .navbar-nav {
  flex-direction: column;
  margin-left: -1rem;
  margin-right: -1rem;
}

.navbar-vertical.navbar-expand-md.fixed-left.collapsing {
  height: auto;
  transition: transform 0.35s ease;
}
.navbar-vertical.collapse:not(.show) {
  transform: translateX(-300px) scaleX(0);
  display: block;
}

.navbar-vertical .navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar-vertical .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  border-left: 0.3rem solid transparent;
}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
  padding: 0.5rem 1.5rem 0.5rem 1.2rem;
  position: relative;
}

.navbar-vertical .navbar-heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.navbar-vertical .navbar-nav .nav-link.active {
  border-left-color: var(--primary);
}

.navbar-vertical .navbar-heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.admin-footer .footer .content {
  padding-left: 12px;
  padding-right: 12px;
}

@media (min-width: 768px) {
  .navbar-vertical.navbar-expand-md.fixed-left {
    display: block;
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    padding: 0.5rem 1.5rem;
    overflow-y: auto;
    transform: none;
  }

  .navbar-vertical.collapse:not(.show) {
    transform: none;
    display: block;
  }

  .navbar-vertical.navbar-expand-md > [class*="container"] {
    flex-direction: column;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-vertical.navbar-expand-md .navbar-nav {
    flex-direction: column;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  .navbar-vertical.navbar-expand-md ~ main,
  .admin-footer {
    margin-left: 250px;
  }

  .admin-footer .footer .content {
    padding-left: 24px;
  }

  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link {
    padding: 0.5rem 1.5rem 0.5rem 1.2rem;
  }

  .navbar-vertical.navbar-expand-md .navbar-collapse > * {
    min-width: 100%;
  }

  .navbar-vertical.navbar-expand-md .navbar-collapse {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.navbar-vertical .navbar-nav .nav-link > .fas {
  display: inline-block;
  min-width: 1.75rem;
}

.navbar-vertical .navbar-nav .nav-link .badge {
  position: absolute;
  right: 24px;
  top: 12px;
}

.page-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.page-header .breadcrumb {
  font-size: 0.75em;
  padding: 0;
  margin: 0;
  letter-spacing: 0px;
  /* text-transform: uppercase; */
  font-variant: small-caps;
  font-variant: all-small-caps;
}

.page-header h1 {
  font-size: 2em;
}

.full-height {
  min-height: calc(100vh - 8px - 6em);
}

.header-tabs {
  margin-bottom: -1rem;
  border-bottom-width: 0;
}

.header-tabs .nav-link,
.header-tabs .nav-link:hover {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-color: transparent;
}

.header-tabs .nav-item.show .nav-link,
.header-tabs .nav-link.active {
  color: #12263f;
  background-color: transparent;
  border-color: transparent transparent #2c7be5;
}

.header-tabs .nav-link:not(.active) {
  color: #95aac9;
}
.header-tabs .nav-link:not(.active):hover {
  color: #6e84a3;
}
.header-tabs .nav-item:first-child .nav-link {
  padding-left: 0;
}

@media (min-width: 576px) {
  .label-right {
    text-align: right;
  }
}

#table-sql .CodeMirror-line {
  padding: 0;
}
