.login-column {
  max-width: 20ch;
  word-wrap: break-word;
}

h2 small.newline {
  display: block;
  margin-top: 1em;
  font-size: 0.5em;
}

label small.newline {
  display: block;
  font-weight: normal;
  font-size: 0.8em;
}

.label-right {
    text-align: right;
}
