@import "./vendor.css";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  cursor: pointer;
}

.body-wrapper {
  min-height: 100%;
  /* For the footer */
  padding-top: 1rem;
  padding-bottom: 50px;
  position: relative;
}

.footer {
  border-top: 1px solid #f0f0f0;
}

.footer .content {
  padding-top: 2px;
  padding-bottom: 4px;
}

.footer a {
  color: gray;
}

.full-height-query-page {
  min-height: calc(100vh - 75px);
}

.content-wrapper {
  position: relative;
  min-height: calc(100vh - 104px);
  /* Footer */
  padding-bottom: 100px;
}

/* Phoenix flash messages */
.alert:empty {
  display: none;
}

/* Phoenix inline forms in links and buttons */
form.link,
form.button {
  display: inline;
}

.logo {
  margin-left: 10px;
  width: 160px;
  height: 30px;
  display: inline-block;
  background-image: url("../static/images/aircloak_web.svg");
  background-repeat: no-repeat;
  background-size: 160 30;
}

.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

.table-small {
  width: 50%;
}

.table-hover tbody tr:hover td {
  background: rgb(225, 240, 255);
}

/* Customize container */
@media (min-width: 1060px) {
  .container {
    max-width: 1024px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.signout-btn {
  padding: 10px;
  display: block;
}
.signout-btn:hover {
  text-decoration: none;
}

.help-links {
  margin-bottom: 10px;
}

a.suggested-reading {
  z-index: 99999999999;
  color: black;
  background-color: rgba(254, 251, 0, 0.2);
}

a.suggested-reading:hover {
  background-color: yellow;
  color: black;
}

.mode-select {
  margin-top: 10px;
  margin-right: 0px;
}

.footer small {
  border-right: thin solid #ccc;
  padding-right: 10px;
  margin-right: 10px;
}

.footer small:last-of-type {
  border-right: none;
}

@media (max-width: 576px) {
  .dropdown-menu-centerish {
    right: -20%;
    left: auto;
  }
}

/********************************************************************
 * Styles for Aircloak installations with an invalid license
 *******************************************************************/

.invalid.jumbotron {
  margin-top: 10em;
}

/* ******************************************************************
 * Extensions to bootstrap to provide warning elements in the navbar
 ***************************************************************** */

.nav > li.warning > a,
.nav > li.warning > a:hover,
.nav > li.warning > a:focus {
  background-color: #fcf8e3;
}

.nav > li.active.warning > a,
.nav > li.active.warning > a:hover,
.nav > li.active.warning > a:focus {
  background-color: #fcf8e3;
  color: black;
}

.nav > li.danger a,
.nav > li.danger > a:hover,
.nav > li.danger > a:focus {
  background-color: #f2dede;
}

.nav > li.active.danger > a,
.nav > li.active.danger > a:hover,
.nav > li.active.danger > a:focus {
  background-color: #f2dede;
  color: black;
}

.nav > li.warning > a > span.badge {
  background-color: white;
  color: black;
}

.nav > li.danger > a > span.badge {
  background-color: white;
  color: black;
}

/* ******************************************************************
 * Formatting of user provided information screens
 ***************************************************************** */

#info-message > *:first-child {
  margin-top: 0;
}

#info-message h1 {
  font-size: 2em;
  border: unset;
  padding: 0;
  margin: 1em 0 0.2em 0;
}

#info-message h2 {
  font-size: 1.6em;
  border: unset;
  padding: 0;
  margin: 1em 0 0.2em 0;
}

#info-message h3 {
  font-size: 1.3em;
  border: unset;
  padding: 0;
  margin: 1em 0 0.2em 0;
}

.table-no-top-border > thead:first-child > tr:first-child > th {
  border-top: none;
}

@media (min-width: 576px) {
  .card-columns-responsive {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns-responsive {
    column-count: 1;
  }
}

@media (min-width: 1200px) {
  .card-columns-responsive {
    column-count: 2;
  }

  .border-xl-left {
    border-left: 1px solid #dee2e6 !important;
  }
}

@media (min-width: 1500px) {
  .card-columns-responsive {
    column-count: 3;
  }
}

.tooltip {
  pointer-events: none;
}

@import "./activity-monitor.css";
@import "./admin.css";
@import "./audit_log.css";
@import "./changelog.css";
@import "./data_source.css";
@import "./login.css";
@import "./privacy-policy.css";
@import "./queries.css";
@import "./selectable_info.css";
@import "./sidebar.css";
@import "./tasks.css";
@import "./users.css";
