.timeline {
  position: relative;
}

.timeline::after {
  content: " ";
  position: absolute;
  display: block;
  border-left: 1px solid #dee2e6;
  height: calc(100% - 3.5em);
  left: 30px;
}

.collapsed.timeline::after {
  height: 100%;
  top: -4px;
  left: -3px;
  color: #dee2e6;
  border-left: 6px solid white;

  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3E%3Crect width='6' height='6' fill='white' /%3E%3Cpath d='M0 0l6 3-6 3' fill='none' stroke='%23dee2e6'/%3E%3C/svg%3E%0A")
    0 0 0 100% repeat repeat;
}

.day-header-bg {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 80px;
  border-left: 1px solid #dee2e6;
  position: relative;
}

.day-header-bg::before {
  content: " ";
  display: block;
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  position: absolute;
  top: 1em;
}

.day-header {
  border-radius: 15px;
  padding: 4px 8px;
  border: 1px solid #dee2e6;
  background: white;
  z-index: 5;
  position: sticky;
  top: 60px;
  box-shadow: 0 1px 1px #dee2e6;
  align-self: center;
}

.timestamp {
  position: absolute;
  left: -80px;
  margin-top: 4px;
}

.nested .timestamp {
  z-index: 4;
}

.audit-icon {
  position: absolute;
  left: -10px;
  font-size: 0.5em;
  margin-top: 4px;
}

.nested .audit-icon {
  z-index: 4;
}

.collapse-button {
  position: absolute;
  top: 0;
  left: -101px;
  width: 100px;
  bottom: 0;
  z-index: 2;
  background: white;
}

.collapse-button::before,
.collapse-button::after {
  content: " ";
  border-bottom: 1px solid #dee2e6;
  background: white;
  display: block;
  width: 15px;
  height: 15px;

  position: absolute;
  right: 0;
}

.collapse-button::before {
  top: -9px;
  right: 0;
  transform: rotate(225deg);
}
.collapse-button::after {
  bottom: -19px;
  transform: rotate(315deg);
}

.collapse-button span {
  transform: rotate(270deg);
  display: block;
  opacity: 0;
  position: sticky;
  top: 20vh;
  bottom: 20vh;
  margin-left: -83px;
}

.collapse-button:hover {
  background: #f2f5f8;
}

.collapse-button:hover span {
  opacity: 1;
}

.details {
  max-height: 3em;
  overflow: hidden;
  transition: max-height 1s;
}

.toggle[open] + .details {
  max-height: unset;
}

.expander {
  transition: max-height 0.3s ease;
  max-height: calc(var(--full-height) + 150px);
  overflow: hidden;
  position: relative;
}

.expander.collapsed {
  max-height: 87px;
  cursor: pointer;
}

.expander::before {
  content: " ";
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.expander.collapsed::before {
  opacity: 1;
}

.expander.collapsed::after {
  content: "Click to expand";
  position: absolute;
  bottom: 0;
  left: 5px;
  z-index: 5;
  background: white;
  border: 1px solid #dee2e6;
  padding: 0 10px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 80%;
}
.expander.collapsed:hover::after {
  opacity: 1;
}

.before,
.after {
  padding: 0 2px;
  word-break: break-all;
}

.before {
  background: rgba(228, 26, 26, 0.2);
}

.after {
  background: rgba(42, 236, 42, 0.2);
}

.loader.phx-click-loading::after {
  display: inline-block;
  background: url(../static/images/loader.gif);
  width: 26px;
  height: 26px;
  content: " ";
  margin-left: 1em;
  margin-bottom: -8px;
}

.delayed-spinner {
  opacity: 0;
  animation: 200ms fadeIn;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
