.body-wrapper.data-source {
  padding-bottom: 0px;
  height: 100%;
}

.data-source .container,
.data-source .column {
  height: 100%;
}

.data-source .column .content-wrapper {
  position: relative;
  min-height: 100%;
  /* Footer */
  padding-bottom: 100px;
}
