body#login {
  margin: 0;
  min-height: 100vh;
}

body#login h1.login-h1 {
  padding: 15px;
  margin: 0;
}

body#login #login-card {
  margin: 20px 0;
}

body#login #login-logo {
  position: absolute;
  top: 23px;
  right: 40px;
}

body#login footer {
  display: block;
  color: black;
}

body#login footer small::after {
  content: "|";
}

body#login footer small:last-child::after {
  content: "";
}

div#photo-credit {
  display: none;
}

body#login #login-container {
  max-width: 400px;
  margin: auto;
  clear: both;
}

div#aircloak {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

@supports (display: grid) {
  body#login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
      "login-box"
      "footer";
  }

  body#login footer {
    color: black;
    grid-area: footer;
  }

  body#login #login-container {
    grid-area: login-box;
    max-width: unset;
    margin: unset;
    clear: unset;
  }

  div#aircloak {
    position: relative;
    bottom: unset;
    width: unset;
    text-align: left;
    margin-left: 10px;
    grid-area: aircloak;
  }

  div#photo-credit {
    grid-area: photo-credit;
    justify-self: end;
    font-size: 0.8em;
    padding: 3px 5px;
  }

  @media only screen and (min-width: 600px) {
    body#login {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      display: grid;
      grid-template-columns: 1fr 400px 1fr;
      grid-template-rows: 1fr auto 1fr min-content;
      grid-template-areas:
        ". . ."
        ". login-box ."
        ". . ."
        "footer footer footer";
    }

    body#login.with-message {
      grid-template-columns: 1fr minmax(600px, 800px) 1fr;
    }

    body#login footer {
      color: white;
      padding: 2px 2px 0 0;
      background-color: rgba(0, 0, 0, 0.6);

      display: flex;
      justify-content: space-between;
    }

    body#login footer a {
      color: white;
    }

    div#photo-credit {
      display: inline;
      text-align: right;
    }

    body.img1 {
      background: url(../static/images/bg-evergreen1.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen1.jpg) 1x,
        url(../static/images/bg-evergreen1-large.jpg) 2x
      );
    }

    body.img2 {
      background: url(../static/images/bg-evergreen2.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen2.jpg) 1x,
        url(../static/images/bg-evergreen2-large.jpg) 2x
      );
    }

    body.img3 {
      background: url(../static/images/bg-evergreen3.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen3.jpg) 1x,
        url(../static/images/bg-evergreen3-large.jpg) 2x
      );
    }

    body.img4 {
      background: url(../static/images/bg-evergreen4.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen4.jpg) 1x,
        url(../static/images/bg-evergreen4-large.jpg) 2x
      );
    }

    body.img5 {
      background: url(../static/images/bg-evergreen5.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen5.jpg) 1x,
        url(../static/images/bg-evergreen5-large.jpg) 2x
      );
    }

    body.img6 {
      background: url(../static/images/bg-evergreen6.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen6.jpg) 1x,
        url(../static/images/bg-evergreen6-large.jpg) 2x
      );
    }

    body.img7 {
      background: url(../static/images/bg-evergreen7.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen7.jpg) 1x,
        url(../static/images/bg-evergreen7-large.jpg) 2x
      );
    }

    body.img8 {
      background: url(../static/images/bg-evergreen8.jpg) no-repeat center
        center fixed;
      background-image: image-set(
        url(../static/images/bg-evergreen8.jpg) 1x,
        url(../static/images/bg-evergreen8-large.jpg) 2x
      );
    }
  }

  @media only screen and (min-width: 1920px) {
    body.img1 {
      background: url(../static/images/bg-evergreen1-large.jpg) no-repeat center
        center fixed;
    }

    body.img2 {
      background: url(../static/images/bg-evergreen2-large.jpg) no-repeat center
        center fixed;
    }

    body.img3 {
      background: url(../static/images/bg-evergreen3-large.jpg) no-repeat center
        center fixed;
    }

    body.img4 {
      background: url(../static/images/bg-evergreen4-large.jpg) no-repeat center
        center fixed;
    }

    body.img5 {
      background: url(../static/images/bg-evergreen5-large.jpg) no-repeat center
        center fixed;
    }

    body.img6 {
      background: url(../static/images/bg-evergreen6-large.jpg) no-repeat center
        center fixed;
    }

    body.img7 {
      background: url(../static/images/bg-evergreen7-large.jpg) no-repeat center
        center fixed;
    }

    body.img8 {
      background: url(../static/images/bg-evergreen8-large.jpg) no-repeat center
        center fixed;
    }
  }
}
