#privacy-policy {
  margin-bottom: 100px;
  font-size: 1.0em;
}

#privacy-policy h1 {
  border-bottom: 1px solid #eee;
  margin: 1.3em 0 0.4em 0;
  padding-bottom: 0.2em;
  font-size: 2em;
}

#privacy-policy h2 {
  border-bottom: 1px solid #eee;
  margin: 1.2em 0 0.4em 0;
  padding-bottom: 0.2em;
  font-size: 1.5em;
}

#privacy-policy h3 {
  border-bottom: 1px solid #eee;
  margin: 1.2em 0 0.4em 0;
  padding-bottom: 0.2em;
  font-size: 1.3em;
}

#privacy-policy h4 {
  border-bottom: 1px solid #eee;
  margin: 1em 0 0.4em 0;
  padding-bottom: 0.2em;
  font-size: 1.2em;
}

#privacy-policy h5 {
  border-bottom: 1px solid #eee;
  margin: 1em 0 0.4em 0;
  padding-bottom: 0.2em;
  font-size: 1.1em;
}

#privacy-policy p {
  font-size: 1em;
}

#privacy-policy td, #privacy-policy th {
  padding: 2px;
  border-bottom: 1px solid #ccc
}

#privacy-policy table {
  margin-bottom: 15px;
}

#review-box {
  width: 310px;
}

ul.privacy-policy-bullet-points {
  margin-left: 0px;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
}

ul.privacy-policy-bullet-points li {
  padding: 3px 0;
}

.privacy-policy-editor .CodeMirror {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid #ccc;
  font: medium -moz-fixed;
  font: -webkit-small-control;
}
