.CodeMirror {
  height: auto;
}

.query-menu {
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: auto;
}

.row-count {
  text-align: right;
  width: 100%;
  display: table;
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin-top: -20px;
  z-index: -1;
}

.result-table {
  padding-top: 10px;
  overflow-x: auto;
}

.result-table td {
  white-space: pre-wrap;
}

.panel-danger .react-codemirror2 {
  border-bottom: 1px solid rgb(235, 204, 209);
}

.panel-success .react-codemirror2 {
  border-bottom: 1px solid rgb(214, 233, 198);
}

.panel-warning .react-codemirror2 {
  border-bottom: 1px solid rgb(250, 235, 204);
}

.panel-info .react-codemirror2 {
  border-bottom: 1px solid rgb(188, 232, 241);
}

.panel-success table th {
  word-break: keep-all;
}

.panel-info .spinner {
  margin-top: 20px;
}

#sql-editor {
  margin-bottom: 3em;
  top: 55px;
  border: 1px solid #bae3f0;
  background: #d8e9ee;
  z-index: 7;
  padding: 0 15px;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px;
}

#sql-editor .scroller {
  display: flex;
  position: relative;
}

.react-codemirror2 {
  font-size: 16px;
}

#sql-editor .editor-container {
  margin-right: 1em;
}

#sql-editor .react-codemirror2 {
  flex-grow: 1;
  background: linear-gradient(90deg, #f7f7f7, 5%, #f7f7f7, 8%, white);
  overflow-x: auto;
  border: none;
  box-shadow: none;
}

.react-codemirror2.editable,
.editor-container {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.react-codemirror2.editable:focus-within,
.editor-container:focus-within {
  border: 1px solid #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.status-bar {
  font-size: 80%;
  font-weight: 400;
  padding-left: 1em;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}

.status-bar.status-bar-error {
  color: var(--danger);
  font-weight: bold;
}

.scroller .btn {
  position: sticky;
  top: 2px;
  align-self: flex-start;
}

#sql-editor select {
  width: auto;
}

.right-align {
  text-align: right;
}

.options-menu {
  padding-top: 5px;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.options-menu a,
.options-menu button {
  margin-right: 5px;
}

.unreliable {
  color: gray;
  font-style: italic;
}

.error-location {
  display: inline-block;
  position: relative;
}

.error-location:before {
  content: "~";
  font-weight: bold;
  color: red;
  width: 100%;
  position: absolute;
  top: 8px;
  overflow: hidden;
}

.panel pre code {
  white-space: pre;
}
