.query-menu {
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: auto;
}

.row-count {
  text-align: right;
  width: 100%;
  display: table;
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin-top: -20px;
}

.panel-body .ReactCodeMirror {
  margin: -15px -15px 20px -15px;
}

.panel-success .panel-body .ReactCodeMirror {
  margin: -15px -15px 0px -15px;
}

.result-table {
  padding-top: 10px;
  overflow-x: auto;
}

.panel-danger .ReactCodeMirror {
  border-bottom: 1px solid rgb(235, 204, 209);
}

.panel-success .ReactCodeMirror {
  border-bottom: 1px solid rgb(214, 233, 198);
}

.panel-warning .ReactCodeMirror {
  border-bottom: 1px solid rgb(250, 235, 204);
}

.panel-info .ReactCodeMirror {
  border-bottom: 1px solid rgb(188, 232, 241);
}

.panel-info .spinner {
  margin-top: 20px;
}

#sql-editor {
  margin-bottom: 3em;
}

#sql-editor select {
  width: auto;
}

.right-align {
  float: right;
}

.options-menu {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: -20px;
  font-size: 0.9em;
  clear: right;
  display: block;
  margin-bottom: 20px;
}
.option-menu-item {
  float: left;
  margin-right: 5px;
}

.unreliable {
  color: gray;
  font-style: italic;
}

.error-location {
  display: inline-block;
  position: relative;
}

.error-location:before {
  content: "~";
  font-weight: bold;
  color: red;
  width: 100%;
  position: absolute;
  top: 8px;
  overflow: hidden;
}
