.highlight {
  padding: 0;
  text-decoration: underline;
}

.type-icon {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 3px;
  margin-right: 0.6em;
}

.type-icon.user-icon,
.type-icon.link-icon {
  padding-right: 0;
}

.type-icon.native-type {
  width: 24px;
  display: inline-block;
  line-height: 1;
}
