/* Workaround for the side column becoming superimposed on the main column and
 * blocking buttons on narrow displays. Setting the columns's z-index lower
 * doesn't work, since its content is unclickable when on a wider display. */
@media (max-width: 767px) {
  #selectable-column {
    display: none;
  }
}

.selectable-heading {
  width: 100%;
  display: table;
}

.selectable-heading a {
  float: right;
}

.selectable-info {
  min-width: 200px;
  display: table;
}

.selectable-info .selectable-info-content {
  max-height: calc(100vh - 197px);
  overflow: auto;
}

.selectable-info .list-group-item {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.selectable-info .list-group-item-heading {
  padding: 5px 5px 5px 5px;
  margin: 0;
}

.selectable-info .list-group-item-heading {
  word-break: break-all;
}

.selectable-info .name-column {
  word-break: break-all;
}

.selectable-info .id-column {
  word-break: break-all;
  font-weight: bold;
}

.column-filter {
  padding: 5px;
  background-color: #ccc;
}

.column-filter .form-group {
  display: block;
}

.column-filter .input-group {
  display: table;
  width: 100%;
}
