.logs {
  height: calc(100vh - 8px - 27.25em);
  overflow-y: scroll;
  font-size: 0.7rem;
}

.logs tr:nth-child(odd) {
  background-color: rgb(243, 243, 243);
}

.logs .logs-timestamp {
  min-width: 70px;
  text-align: center;
}
