<div id="editFilter" style="width:750px; height: 500px;">
  <div style="text-align:center">
    <h3>Filter for table {{table.name}}</h3>
  </div>
  <br/>

  <div id="filterError" class="text-error"></div>

  <div id="filterControls" class="form-horizontal">
    {{#each filter.groups}}
      <div id="filterGroup{{@index}}">
        {{#each filters}}
          <div id="subFilter{{@index}}" data-filter-controls class="control-group">
            {{> tasks/filter ../..}}
            <a href="#" data-remove-filter data-index="{{@index}}" class="btn btn-small btn-warning">remove</a>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>

  <div class="control-group">
    <a href="#" id="addFilter" class="btn btn-small">Add filter</a>
  </div>

  <div class="control-group">
    <input id="saveTaskFilter" type="button" value="save" class="btn btn-success"/>
    <input id="closeTaskFilter" type="button" value="cancel" class="btn"/>
  </div>
</div>