# ignore everything by default
*

# whitelist only needed folders
!air/VERSION
!air/tmp/image_shell_init.sh
!air/config/config.sh
!air/config/tcp_ports.json
!air/etcd
!air/common
!air/site/container.sh
!air/router/container.sh
!air/coreos/docker
!docker/
