/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a.suggested-reading {
  z-index: 99999999999;
  color: black;
  background-color: rgba(254,251,0,0.2);
}

a.suggested-reading:hover {
  background-color: yellow;
  color: black;
}

a.aircloak-logo, a.aircloak-logo:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}
