// Place all the styles related to the verifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxed-span {
  margin: 0;
  padding: 2;
  text-align: middle;
  width: 100%;
  height: 100%;
}
.red {
  background-color: red;
  color: white;
}
.yellow {
  background-color: yellow;
  color: black;
}
.green {
  background-color: green;
  color: white;
}
