<%= if Enum.empty?(@stats) do %>
<p>No activity in period</p>
<% end %>
<ul>
<%= for stat <- @stats do%>
	<li class="small">
		<a href="/admin/audit_log?users[]=<%= stat.user.id %>">
			<%= stat.count %> queries: <%= stat.user.name %>
		</a>
	</li>
<% end %>
</ul>
