<%= if Enum.empty?(@stats) do %>
<p>No activity in period</p>
<% end %>
<ul>
<%= for stat <- @stats do%>
  <li class="small">
    <a href="<%= audit_log_url(stat) %>">
      <%= stat.count %> <%= Inflex.inflect("query event", stat.count) %>:
      <%= if stat.user.name do %>
        <%= stat.user.name %>
      <% else %>
        Deleted user (id: <%= stat.user.id %>)
      <% end %>
    </a>
  </li>
<% end %>
</ul>
