div#task-view {
  display: table;
  position: absolute;
  top: 70px;
  bottom: 0;
  padding: 0;
  margin: 0 0 0 -5px;

  /* Firefox */
  width: -moz-calc(100vw - 20px);
  /* WebKit */
  width: -webkit-calc(100vw - 20px);
  /* Opera */
  width: -o-calc(100vw - 20px);
  /* Standard */
  width: calc(100vw - 20px);

  /* Firefox */
  height: -moz-calc(100vh - 70px);
  /* WebKit */
  height: -webkit-calc(100vh - 70px);
  /* Opera */
  height: -o-calc(100vh - 70px);
  /* Standard */
  height: calc(100vh - 70px);
}

div#task-status-bar {
  border-bottom: 1px solid gray;
  height: 40px;
  display: block;
  width: 100%;
  padding: 0px;
  font-size: 1.2em;
}

div.task-status-bar-component {
  float: left;
  display: table;
  font-size: 1em;
}

div#task-status-bar input {
  font-size: 22px;
  overflow: visible;
  border-style: none;
  padding: 2px;

  /* Firefox */
  width: -moz-calc(50vw);
  /* WebKit */
  width: -webkit-calc(50vw);
  /* Opera */
  width: -o-calc(50vw);
  /* Standard */
  width: calc(50vw);
}

div#task-status-bar input:hover {
  background-color: #f7fdce;
}

div#task-status-bar input:focus {
  border-style: dotted;
  border-width: 2px;
  padding: 0px;
  background-color: #f7fdce;
}

div#task-editor-container div.ReactCodeMirror {
  width: 50%;
  float: left;
}

div#task-editor-side-panel {
  float: left;
  padding: 0 10px 10px;
}

div#task-run {
  float: right;
  display: table;
  right: 0;
  width: 300px;
  position: relative;
}

div#task-run div.progress {
  float: right;
  display: block;
  width: 150px;
  margin: 7px 10px 10px;
}
div#task-run button {
  float: right;
  display: block;
}

div#task-status-bar div#save-state {
  float: right;
  padding: 5px 0 5px 5px;
  width: 100px;
  text-align: right;
}
