
- if @capabilities.count > 0
  %h3 Capabilties

  %table.table.table-striped
    %thead
      %tr
        %th Identifier
        %th Name
        %th Description
        %th Created at
    %tbody
    - @capabilities.each do |capability|
      %tr
        %td= capability.identifier
        %td= capability.name
        %td= capability.description
        %td= time_ago_in_words capability.created_at

- else
  %p No existing capabilities. Please add some

%hr
