{lib_dirs, ["../../deps"]}.
{cover_enabled, true}.
{eunit_opts, [
  no_tty,  %% This turns off the default output, MUST HAVE
  {report, {eunit_progress, [colored]}},
  {report, {eunit_surefire, [{dir, "."}]}}
]}.
{erl_opts, [
  {i, "../../include"},
  debug_info,
  {parse_transform, lager_transform}
]}.
