[Unit]
Description=Air backend
After=etcd.service
After=docker.service
After=router@%i.service
BindsTo=router@%i.service

[Service]
TimeoutStartSec=0
ExecStart=/bin/bash -c /aircloak/air/backend_start.sh
ExecStop=/aircloak/air/backend_stop.sh
EnvironmentFile=/etc/environment

[X-Fleet]
Conflicts=backend@*.service
MachineOf=router@%i.service
