[Unit]
Description=Backend discovery service
BindsTo=backend.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "while true; do etcdctl set /service/backends/$COREOS_PUBLIC_IPV4 '$COREOS_PUBLIC_IPV4' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /service/backends/$COREOS_PUBLIC_IPV4
EnvironmentFile=/etc/environment

[X-Fleet]
MachineOf=backend.service