[Unit]
Description=Air balancer
After=etcd.service
After=docker.service
After=frontend-discovery@%i.service
Wants=frontend-discovery@%i.service

[Service]
TimeoutStartSec=0
ExecStart=/bin/bash -c /aircloak/air/balancer_start.sh
ExecStop=/aircloak/air/balancer_stop.sh
EnvironmentFile=/etc/environment

[X-Fleet]
Conflicts=balancer@*.service
MachineOf=frontend-discovery@%i.service