[Unit]
Description=Frontend discovery service
BindsTo=frontend.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "while true; do etcdctl set /service/frontends/$COREOS_PUBLIC_IPV4 '$COREOS_PUBLIC_IPV4' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /service/frontends/$COREOS_PUBLIC_IPV4
EnvironmentFile=/etc/environment

[X-Fleet]
Global=true