[Unit]
Description=Air frontend
After=etcd.service
After=docker.service
After=router@%i.service
BindsTo=router@%i.service


[Service]
TimeoutStartSec=0
ExecStart=/bin/bash -c /aircloak/air/frontend_start.sh
ExecStop=/aircloak/air/frontend_stop.sh
EnvironmentFile=/etc/environment

[X-Fleet]
Conflicts=frontend@*.service
MachineOf=router@%i.service
