[Unit]
Description=Air router
After=etcd.service
After=docker.service
After=frontend-discovery@%i.service
Wants=frontend-discovery@%i.service

[Service]
TimeoutStartSec=0
ExecStart=/bin/bash -c /aircloak/air/router_start.sh
ExecStop=/aircloak/air/router_stop.sh
EnvironmentFile=/etc/environment

[X-Fleet]
Conflicts=router@*.service
MachineOf=frontend-discovery@%i.service