<!-- Task editor -->
<div id="task-view" />

<script>
  window.pageConfig = {
    onLoad: function(App) {
      var props = $.parseJSON("<%= {:safe, escape_javascript(@task_json)} %>");
      props.CSRFToken = "<%= Plug.CSRFProtection.get_csrf_token() %>";
      props.guardianToken = "<%= @token %>";
      App.taskPage(props);
    }
  };
</script>
