%h1 Command history

%table.table.table-condenced
  %thead
    %tr
      %th Command Id
      %th Deployment group
      %th Created
      %th Downloads

  %tbody
    - @commands.each do |command|
      %tr
        %td= command.id
        %td= command.deployment_group.name
        %td= time_ago_in_words command.created_at
        %td= command.times_downloaded
