<td>{{ name }}</td>
<td>{{ type }}</td>
<td>{{ constraints }}</td>
<td>
  {{#if isDeleted }}
    <button class="button-remove btn btn-small">Restore</button>
  {{else}}
    <button class="button-remove btn btn-small">Remove</button>
  {{/if}}
</td>
