<h2>Package licenses</h2>

<ul>
  <%= for package <- @packages do %>
    <li>
      <a href="/licenses/<%= package.realm %>/<%= package.name %>">
        <%= package.name %>: <%= package.license_type %>
      </a>
    </li>
  <% end %>
</ul>
