<h2>Onboarding has been completed</h2>

<p>
  Creating an administrative user using the onboarding mechanism
  has already been done, and cannot be repeated.
</p>

<p>
  If you have problems logging on to your system,
  please contact your administrator or Aircloak support on
  <a href="mailto:support@aircloak.com">support@aircloak.com</a>.
</p>
