[
  %% air config
  {air, [
    {web_server, [
      {ip, "127.0.0.1"},
      {port, 11000}
    ]},
    {task_timeout, 30000},
    % database configuration
    {air_db, [
      {connection, [
        {host, "air_db"},
        {user, "air"},
        {database, "aircloakdatabase"},
        {port, 5432}
      ]}
    ]}
  ]},

  %% Overrides settings from default cloak config
  {cloak_overrides, [
    {job_inserter, [
      {validation_module, job_insert_mock},
      {insert_module, job_insert_mock}
    ]},
    {cloak_db, [
      % We won't use the default connection
      {connection, []},
      % Per-server connection pool sizes. Each tuple defines number of static (started immediately and
      % persisted), and dynamic workers (started on demand and terminated when done) in the pool
      {pool_size, [
        {default, {20, 0}}
      ]}
    ]}
  ]},

  {pidder, [
    %% Name of your application.
    %% Affects the location at which the pid is stored.
    {name, air},

    %% Path to the directory on disk where your pid is
    %% stored.
    {dir, "/var/run/aircloak"}
  ]},

  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].